[Unit]
Description=Sender of test notifications for Alertmanager

[Service]
# User={{ alert_machinegun_user }}
Type=simple
# EnvironmentFile={{ alert_machinegun_env_file }}
# ExecStart=/usr/bin/python3 {{ alert_machinegun_src_dir }}/alert-machinegun.py -c {{ alert_machinegun_config_dir }}/config.yml
ExecStart=/usr/bin/{{ alert_machinegun_container_runtime }} run --rm \
# --user {{ alert_machinegun_user }} \
--net=host \
--mount type=bind,source={{ alert_machinegun_config_file }},target=/opt/alert-machinegun/config.yml \
--mount type=bind,source={{ alert_machinegun_data_dir }},target=/opt/alert-machinegun/data \
--name alert-machinegun \
--env-file {{ alert_machinegun_env_file }} \
{{ alert_machinegun_image }} \
/opt/alert-machinegun/alert-machinegun {{ alert_machinegun_encryption_tool | ternary('--' + alert_machinegun_encryption_tool , '')  }}
[Install]
WantedBy=multi-user.target